<nav class="navbar navbar-expand-lg navbar-dark menu shadow fixed-top">
    <div class="container">
      <a class="navbar-brand">
          <img style="width: 50px;" src="./assets/logos/dcn.svg" alt="logo image"/>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a type="button" class="nav-link" (click)="scrollInto('services')">Services</a>
          </li>
          <li class="nav-item">
            <a type="button" class="nav-link" (click)="scrollInto('testimonials')">Testimonials</a>
          </li>
          <li class="nav-item">
            <a type="button" class="nav-link" (click)="scrollInto('faq')" >FAQ</a>
          </li>
          <li class="nav-item">
            <a type="button" class="nav-link" (click)="scrollInto('portfolio')">Portfolio</a>
          </li>
          <li class="nav-item">
            <a type="button" class="nav-link" (click)="scrollInto('contact')">Contact</a>
          </li>
        </ul>
        <button type="button" class="rounded-pill btn-rounded">+1 342434324
            <span>
                <i class="fas fa-phone-alt"></i>
            </span>
        </button>
      </div>
    </div>
</nav>
