<section id="companies" class="companies">
    <div class="container">
        <div class="row text-center">
            <h4 class="fw-bold lead mb-3">
                Trusted by companies like
            </h4>
            <div class="heading-line mb-5"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-2">
                <div class="companies--logobox shadow-sm">
                    <img src="assets/logos/samsung.png" alt="company-logo" title="company logo" class="img-fluid">
                </div>
            </div>
            <div class="col-md-4 col-lg-2">
                <div class="companies--logobox shadow-sm">
                    <img src="assets/logos/samsung.png" alt="company-logo" title="company logo" class="img-fluid">
                </div>
            </div>
            <div class="col-md-4 col-lg-2">
                <div class="companies--logobox shadow-sm">
                    <img src="assets/logos/samsung.png" alt="company-logo" title="company logo" class="img-fluid">
                </div>
            </div>
            <div class="col-md-4 col-lg-2">
                <div class="companies--logobox shadow-sm">
                    <img src="assets/logos/samsung.png" alt="company-logo" title="company logo" class="img-fluid">
                </div>
            </div>
            <div class="col-md-4 col-lg-2">
                <div class="companies--logobox shadow-sm">
                    <img src="assets/logos/samsung.png" alt="company-logo" title="company logo" class="img-fluid">
                </div>
            </div>
            <div class="col-md-4 col-lg-2">
                <div class="companies--logobox shadow-sm">
                    <img src="assets/logos/samsung.png" alt="company-logo" title="company logo" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    
</section>
